# Node
node_modules/
npm-debug.log*

# Environment variables
.env
.env.*
client/.env
server/.env
ai-service/.env

# Python
venv/
__pycache__/
*.pyc

# Build
dist/
build/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db